.dashboard::-webkit-scrollbar {
  display: none;
}

.day {
  margin-bottom: 8px;
}

.day__title {
  font-size: 18px;
}

.day__records {
  display: block;
}

.day-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.day-header__left {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.day-header__right {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.day-record_type-not-defined {
  color: red;
}

.day-detailed-info {
  display: block;
}

.day-record {
  font-size: 16px;
}

.day-record__time {
  font-weight: bold;
  margin-right: 8px;
}

.day-record__url {
}

.header {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.full-history-calendar-items {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.full-history {
  display: flex;
  flex-direction: column;
  max-width: var(--page-max-width);
}

.full-history-item__content {
  padding: 12px;
  padding-bottom: 12px !important;
}

.full-history-pagination {
  box-sizing: border-box;
  flex: 0 0 80px;
}

.cal-month-group__title {
}

.cal-month-group {
}

.cal-month-group-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

@media screen and (max-width: 1000px) {
  .cal-month-group-items {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 8px;
  }
}

@media screen and (max-width: 600px) {
  .cal-month-group-items {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 460px) {
  .cal-month-group-items {
    grid-template-columns: 1fr 1fr;
  }
}

.calendar-item {
  padding: 12px;
  cursor: pointer;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab-container {
  flex-direction: column;
  flex: 1 1 100%;
}

.tab-container:not([hidden]) {
  display: flex;
}

.top-sites-entry {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 18px;
  padding: 12px;
}

.day-graph {
  flex: 1 1 100%;
  user-select: none;
}

.day-page {
}

.day-tabs {
  margin-bottom: 16px;
}

.MuiDataGrid-window {
  overflow-x: auto;
}
