.day {
  margin-bottom: 8px;
}

.day__title {
  font-size: 18px;
}

.day__records {
  display: block;
}

.day-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.day-header__left {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.day-header__right {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.day-record_type-not-defined {
  color: red;
}

.day-detailed-info {
  display: block;
}

.day-record {
  font-size: 16px;
}

.day-record__time {
  font-weight: bold;
  margin-right: 8px;
}

.day-record__url {
}

.header {
}

.df { display: flex; }

.fsb { justify-content: space-between; }

.f-100 { flex: 1 1 100%; }

.fcv { align-items: center; }

.full-history-calendar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

.calendar-item {
  padding: 12px;
  cursor: pointer;
}
